html, body{
  margin: 0; 
  padding: 0;
  text-align: center;
  position: relative;
}

html{
  height: 100%;
}

body {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
}

#address{
  margin: 0 0 4vw 0;
}

.container{
  z-index: 0;
  background-color: rgba(0,0,0,0.0);
}
.navbar-default {
  background-color: rgba(0,0,0,0.0);
  border-color: #000000;
  z-index: 100;
}

.nav-item a{
  font-size: 20px;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

a
{
  color: #ffffff;
  text-decoration: underline;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a:hover, a:active
{
  color: rgba(255, 255, 255, 0.60);
  text-decoration: underline;
}

p {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5vh;
  color: white;
} 

h1 {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10vh;
  padding: 4vh 25vw 4vh 25vw;
  color: white;
} 

h3 {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 6vh;
  padding: 4vh 25vw 4vh 25vw;
  color: white;
} 

h4 {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;  
  margin: 4vh 25vw 4vh 25vw;
  color: white;
} 

h5 {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3.5vh;  
  padding: 4vh 25vw 4vh 25vw;
  color: white;
} 

header{
  min-height: 8vh;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}

footer{
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: white;
  margin: 20px;
}

a, h1, h2, h3, h4, h5, li, p, span, footer {
  font-family: Muli,Helvetica,Arial,sans-serif;
}

.top {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


#register {
  height: 20vh;
}

.top .logo{
  height: 40vh;
  width: 44vh;
  margin-left: auto;
  margin-right: auto;
}

.signUpButton {
  background-color: #fe4a49;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  margin: 2px 2px;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border-radius: 12px;
}

.discordButton {
  background-color: #7289DA;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  margin: 2px 2px;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border-radius: 12px;
}

.devPostButton {
  background-color: #0B3E53;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  margin: 2px 2px;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border-radius: 12px;
}

#home a {
  font-size: 2.5vh;
}
#map{
  height: 400px;
  width: 100%;
}

.top h1{
  color: white;
  padding: 0px;
}

.top h4{
  margin-top: 5vh;
  color: white;
  margin: 2vw 0vw 2vw 0vw;
}

.info h4{
  margin: 0vw 0vw 4vw 0vw;
}

.topnav {
  background-color:rbg(0,0,0);
  overflow: hidden;
}

.topnav a:hover, a:active
{
  color: rgba(255, 255, 255, 0.60);
  text-decoration: underline;
}

.topnav a {
  float: right;
  color: rgb(255,255,255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.logistics{
}

.faqs{
}

.faqs h5{
  padding: 0;
}

.container{

}

.row{
  padding: 2vh;
}

.sponsor-container{

}

.sponsor{
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
}

.judges{
}

.location{
  padding: 0;


}
.team{

}

.team h5{
  padding: 20px;
}

.team-title {
  margin: auto;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.col-sm h5{
  padding: 0px;
  margin: 0px;
}

.teamIcon {
  width: 60%;
  border-radius: 50%;
}

.notice {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;  
  margin: 4vh;
  color: white;
} 

.bronze{
  color:#CD7F32;
}

.silver{
  color: #c0c0c0;
}

.gold{
  color: #ffd700;
}

.red{
  color: #fe4a49;
}

.yellow{
  color: #fed766;
}

.teal{
  color: #59c2af;
}

.lightgrey{
  color: #d9d9d9;
}

.blue{
  color: #7289DA;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -100;
  position: fixed;
}

.twinkling{
  position: fixed;
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-99;
  min-height: 100%;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  position: absolute;
  min-height: 100px;
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:50;
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#e6d093, #59c3b1); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#b8a676, #479c8e); 
}

