html, body {
  margin: 0; 
  padding: 0;
  background-image: url("./imgs/stars.jpg");
  text-align: center;
}

a
{
  color: #ffffff;
  text-decoration: underline;
}

a:hover, a:active
{
  color: rgba(255, 255, 255, 0.60);
  text-decoration: underline;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5vh;
  color: white;
} 

h1 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10vh;
  padding: 4vh 25vw 4vh 25vw;
  color: white;
} 

h3 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 6vh;
  padding: 4vh 25vw 4vh 25vw;
  color: white;
} 

h4 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;  
  margin: 4vh 25vw 4vh 25vw;
  color: white;
} 

h5 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3.5vh;  
  padding: 4vh 25vw 4vh 25vw;
  color: white;
} 

header{
  min-height: 8vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}

footer{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: white;
}

.top {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.top .logo{
  height: 40vh;
  width: 44vh;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: rgb(131, 128, 128);
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  margin: 2px 2px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border-radius: 12px;
}

#home a {
  font-size: 2.5vh;
}

.top h1{
  color: white;
  padding: 0px;
}

.top h4{
  margin-top: 5vh;
  color: white;
  margin: 2vw 25vw 2vw 25vw;
}

.info h4{
  margin: 0vw 20vw 4vw 20vw;
}

.topnav {
  background-color:rbg(0,0,0);
  overflow: hidden;
}

.topnav a:hover, a:active
{
  color: rgba(255, 255, 255, 0.60);
  text-decoration: underline;
}

.topnav a {
  float: right;
  color: rgb(255,255,255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.logistics{
}

.faqs{
}

.faqs h5{
  padding: 0;
}

.container{

}

.row{
  padding: 2vh;
}

.sponsor-container{

}

.sponsor{
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.judges{
}

.team{

}

.team h5{
  padding: 0;
}